Package: com.ZaneHelton.ChineseSkillHack
Name: ChineseSkill Hack
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
Version: 0.0.1-64
Installed-Size: 88
