Package: com.ZaneHelton.ChineseSkillHack
Name: ChineseSkill Hack
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Hack your way through ChineseSkill.
Maintainer: Zane Helton
Author: Zane Helton
Section: Tweaks
